*{
  box-sizing: border-box;
}
body{
  display: flex;
}
h3 {
  width: 100%;
}
p{
  font-size: 8pt;
}
img {
  height:20px;
  width: 20px;
  margin: 0px;
}
.p1Own{
  background-color: rgba(255,0,0,0.4);
}
.p2Own{
  background-color: rgba(0,0,255,0.4);
}
.full_page{
  width: 100%;
  border: 1px solid grey;
  height: 800px;
}
.top_bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  text-align: center;
}
.game_page{
  display: flex;
  width: 100%;
  height: 80%;
}
.player_1_col{
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid orchid;
  text-align: center;
}
.game_col{
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid red;
  background-color: navajowhite;
}
.dice{
  width: 100%;
  border: 1px solid green;
  height: 60px;
  text-align: center;
  background-color: white;
}
.board{
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  align-self: center;
  height: 500px;
  align-self: center;
    /* justify-content: center; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
 }

.board_top_row{
  display: flex;
  align-self: flex-start;
  width: 500px;
  height: 100px;
  border: 1px solid orange;
  }
.board_top_left{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.board_top_mid{
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  display: flex;
}
#old_kent_road{
  width:20%;
  height: 100%;
  border: 1px solid brown;
  border-bottom-width: 15px;
  padding: 2px;
}
#whitechapel_road{
  width:20%;
  height: 100%;
  border: 1px solid brown;
  border-bottom-width: 15px;
  padding: 2px;
}
#angel_islington{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
#euston_road{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
#pentonville_road{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
.board_top_right{
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.board_mid_section{
  display: flex;
  flex-direction: row-reverse;
  width: 500px;
  height: 400px;
  border: 1px solid teal;
  margin-top: 5px;
}

.board_mid_left{
  display: flex;
  flex-direction: column-reverse;
  width: 100px;
  height: 400px;
  border: 1px solid black;
  justify-content: flex-end;
  align-self: flex-end;

}
#mayfair{
  width: 100px;
  height: 60px;
  border: 1px solid purple;
  border-right-width: 15px;
  padding: 2px;
}
#park_lane{
  width: 100px;
  height: 60px;
  border: 1px solid purple;
  border-right-width: 15px;
  padding: 2px;
}
#bond_street{
  width: 100px;
  height: 60px;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}
#oxford_street{
  width: 100px;
  height: 60px;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}
#regent_street{
  width: 100px;
  height: 60px;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}

.board_mid_mid{
  width: 300px;
  height: 400px;
  border: 1px solid blue;
  text-align: center;
}

.board_mid_right{
  width: 100px;
  height: 300px;
  border: 1px solid red;
}

#pall_mall{
  width: 100px;
  height: 60px;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
#whitehall{
  width: 100px;
  height: 60px;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
#northumberland_avenue{
  width: 100px;
  height: 60px;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
#bow_street{
  width: 100px;
  height: 60px;
  border: 1px solid orange;
  border-left-width: 15px;
  padding: 2px;

}
#marlborough_street{
  width: 100px;
  height: 60px;
  border: 1px solid orange;
  border-left-width: 15px;
  padding: 2px;

}

.board_bottom_row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  border: 1px solid orange;
}
.board_bottom_left{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.board_bottom_mid{
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 210px;
}
#strand{
  width: 60px;
  height: 100px;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
#fleet_street{
  width: 60px;
  height: 100px;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
#trafalgar_square{
  width: 60px;
  height: 100px;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
#leicester_square{
  width: 60px;
  height: 100px;
  border: 1px solid yellow;
  border-top-width: 15px;
  padding: 2px;

}
#picadilly{
  width: 60px;
  height: 100px;
  border: 1px solid yellow;
  border-top-width: 15px;
  padding: 2px;

}*/
.board_bottom_right{
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
.bank_area{
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid blue;
  align-self: flex-end;
  justify-content: center;
  background-color: white;
}
.bank_area button {
  align-self: center;
}
.player_2_col{
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid blue;
  text-align: center;
}
.player1{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}
.hidden{
  display: none;
}
