*{
  box-sizing: border-box;
}
body{
  display: flex;
}
p{
  font-size: 8pt;
}
.full_page{
  width: 100%;
  border: 1px solid grey;
  height: 800px;
}
.top_bar{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  text-align: center;
}
.game_page{
  display: flex;
  width: 100%;
  height: 80%;
}
.player_1_col{
  justify-content: flex-start;
  width: 20%;
  border: 1px solid orchid;
}
.game_col{
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid red;
}
.dice{
  width: 100%;
  border: 1px solid green;
  height: 60px;
  text-align: center;
}
.board{
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  align-self: center;
  height: 500px;
  align-self: center;
  justify-content: center;
  margin: 2%;
}
.board_top_row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  border: 1px solid orange;
  }
.board_top_left{
  width: 100px;
  height: 100%;
  border: 1px solid black;
}
.start_p1{
  width: 10px;
  height: 10px;
  background-color: red;
  top: 50px;
  left: 10px;
  position: relative;
}
.start_p2{
  width: 10px;
  height: 10px;
  background-color: blue;
  top: 40px;
  left: 50px;
  position: relative;
}
.board_top_mid{
  width: 300px;
  height: 100%;
  border: 1px solid blue;
  /* flex-direction: row; */
  display: flex;
}
.old_kent_road{
  width:20%;
  height: 100%;
  border: 1px solid brown;
  border-bottom-width: 15px;
  padding: 2px;
}
.whitechapel_road{
  width:20%;
  height: 100%;
  border: 1px solid brown;
  border-bottom-width: 15px;
  padding: 2px;
}
.angel_islington{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
.euston_road{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
.pentonville_road{
  width:20%;
  height: 100%;
  border: 1px solid lightblue;
  border-bottom-width: 15px;
  padding: 2px;
}
.board_top_right{
  width: 100px;
  height: 100%;
  border: 1px solid red;
}
.board_mid_section{
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid teal;
}
.board_mid_left{
  width: 100px;
  height: 100%;
  border: 1px solid black;
}
.mayfair{
  width: 100%;
  height: 20%;
  border: 1px solid purple;
  border-right-width: 15px;
  padding: 2px;

}
.park_lane{
  width: 100%;
  height: 20%;
  border: 1px solid purple;
  border-right-width: 15px;
  padding: 2px;

}
.bond_street{
  width: 100%;
  height: 20%;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}
.oxford_street{
  width: 100%;
  height: 20%;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}
.regent_street{
  width: 100%;
  height: 20%;
  border: 1px solid green;
  border-right-width: 15px;
  padding: 2px;

}
.board_mid_mid{
  width: 300px;
  height: 100%;
  border: 1px solid blue;
  text-align: center;
}
.board_mid_right{
  width: 100px;
  height: 100%;
  border: 1px solid red;
}
.pall_mall{
  width: 100%;
  height: 20%;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
.whitehall{
  width: 100%;
  height: 20%;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
.northumberland_avenue{
  width: 100%;
  height: 20%;
  border: 1px solid orchid;
  border-left-width: 15px;
  padding: 2px;

}
.bow_street{
  width: 100%;
  height: 20%;
  border: 1px solid orange;
  border-left-width: 15px;
  padding: 2px;

}
.marlborough_street{
  width: 100%;
  height: 20%;
  border: 1px solid orange;
  border-left-width: 15px;
  padding: 2px;

}
.board_bottom_row{
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid orange;
}
.board_bottom_left{
  width: 100px;
  height: 100%;
  border: 1px solid black;
}
.board_bottom_mid{
  width: 300px;
  height: 100%;
  border: 1px solid blue;
  display: flex;
}
.strand{
  width: 20%;
  height: 100%;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
.fleet_street{
  width: 20%;
  height: 100%;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
.trafalgar_square{
  width: 20%;
  height: 100%;
  border: 1px solid red;
  border-top-width: 15px;
  padding: 2px;

}
.leicester_square{
  width: 20%;
  height: 100%;
  border: 1px solid yellow;
  border-top-width: 15px;
  padding: 2px;

}
.picadilly{
  width: 20%;
  height: 100%;
  border: 1px solid yellow;
  border-top-width: 15px;
  padding: 2px;

}
.board_bottom_right{
  width: 100px;
  height: 100%;
  border: 1px solid red;
}
.bank_area{
  width: 100%;
  height: 60px;
  border: 1px solid blue;
  align-self: flex-end;
}
.player_2_col{
  display: flex;
  width: 20%;
  border: 1px solid blue;
}
.player1{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}
